@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Logout</title>
</head>
<body align="center">
   <div class="container-full">
		<div id="login" class="well text-center">
			<img src="~/Images/logout.png" class="img-responsive center-block" align="middle">
			<p>You have successfully logged out. Thank you for using Mobile Reimbursement.</p>
			<p><a id="logoutlink" href="http://portal.cadilapharma.in/Asset" class="btn btn-4 btn-1x fa-sign-in">Login again</a></p>
		</div>
	</div>
    
</body>
</html>
