@{
    Layout = Layout;
}
<script type="text/javascript" src="~/Scripts/jQuery.GridList.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        LoadGridData();
    });
    function LoadGridData() {
        var objurl = '@Url.Content("~/Asset/GetPendingAcceptanceList")';
        var jqTable = '#jqTable2';
        var jqTablePager = '#jqTablePager2';
        var objcolNames = ['Action', 'Requestno', 'Item', 'Serial No', 'Allocation Date'];
        var objcolModel = [
                            {
                                name: 'Action', index: 'Action', width: 80, search: false, formatter: function (cellvalue, options, rowObject) {
                                    return "<div title=\"Acceptance\" style=\"float:left; cursor:pointer;\" class=\"ui-pg-div ui-inline-edit\" id=\"jEditButton_1\" onclick=\"GetAssetDetails('" + rowObject[1] + "'); \" title=\"Approve\">&nbsp;&nbsp;<span class=\"ui-icon fa-check fa-1x bigger-120  green\"></span></div>";
                                }
                            },
                            { name: 'Nrequestno', index: 'Nrequestno', width: 200 },
                            { name: 'ItemName', index: 'ItemName', width: 260 },
                            { name: 'serialno', index: 'serialno', width: 260 },
                            { name: 'AllocationDate', index: 'AllocationDate', width: 250 },
        ];
        var objcaption = "Pending Asset Receipt Request";
        var objjqGridonSelectRow = null;
        var objsortname = "Nrequestno";
        var objsortorder = "asc";
        jQuery(jqTable).jqGrid('clearGridData');
        jQuery(jqTable).jqGrid('setGridParam', { url: objurl });
        //jQuery(jqTable).jqGrid('setGridParam', { filterToolbar: { stringResult: true, searchOnEnter: false } });
        jQuery.GridList.Grid(jqTable, jqTablePager, objcolNames, objcolModel, objurl, objcaption, objsortname, objsortorder, objjqGridonSelectRow);
        // jQuery(jqTable).jqGrid('filterToolbar', { stringResult: true, searchOnEnter: false });
        jQuery(jqTable).trigger('reloadGrid');
    }
    function GetAssetDetails(Itemno) {
        fetchAssetDetails(Itemno);
        var objbuttons = [
                            {
                                html: "<i class='ace-icon fa fa-floppy-o icon-on-right'></i><span style='color: #121212' accesskey='c'>&nbsp; Submit</span>",
                                "id": "btn_approve",
                                "name": "btn_approve",
                                "class": "btn btn-success btn-next",
                                "style": "padding: 8px;",
                                click: function () {
                                    if ($("#txt_remarks").val().length > 0) {
                                        SaveData(Itemno, $("#txt_remarks").val());
                                        $(this).dialog("close");
                                    }
                                    else {
                                        ShowError("Please enter remarks");
                                    }
                                }
                            },
                            {
                                html: "<i class='ace-icon fa fa-times bigger-110 dark'></i><span style='color: #121212' accesskey='c'>&nbsp; Close</span>",
                                "id": "btn_close",
                                "name": "btn_close",
                                "class": "btn",
                                "style": "padding: 8px;",
                                click: function () {
                                    $(this).dialog("close");
                                }
                            }
        ];
        objdiologdiv = "viewAssetRequest";
        $('#' + objdiologdiv).removeClass('hide').dialog({
            resizable: false,
            width: '75%',
            height: 550,
            modal: true,
            autoOpen: true,
            closeOnEscape: true,
            position: { my: 'top', at: 'top+50' },
            title_html: true,
            title: "Pending Asset Receipt Request",
            buttons: objbuttons
        });
    }
    function fetchAssetDetails(RequestNo) {
        $.ajax({
            url: "../Asset/fetchAssetDetails?RequestNo=" + RequestNo,
            type: 'GET',
            async: false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (a) {
                $("#txt_allocatedto").val(a.Vempname);
                $("#txt_department").val(a.DEPTNAME);
                $("#txt_item").val(a.ItemName);
                $("#txt_itemtype").val(a.ITEMTYPE);
                $("#txt_brand").val(a.BRAND);
                $("#txt_model").val(a.VMODELNO);
                //$("#txt_size").val(a.SPECS);
                $("#txt_specification").val(a.SPECS);
                $("#txt_serilano").val(a.SerialNo);
                $("#txt_receipt").val(a.AllocationDate);
                $("#txt_hostname").val(a.Hostname);
                $("#txt_allocationdate").val(a.AllocationDate);
                $("#txt_allocationRemarks").val(a.Vreason);
            }, error: function (a) { alert(a) }
        });
    }
    function SaveData(Itemno, Remarks) {
        var formid = 'frm_pendingAcceptance';
        var obj = validateForm(formid);
        if (obj.form()) {
            var Form = document.getElementById(formid);
            $.ajax({
                url: "../Asset/AssetAcceptanceEmployee?Itemno=" + Itemno + "&Remarks=" + Remarks,
                type: 'POST',
                async: false,
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                success: function (a) {
                    if (a.MessageCode == "-1") {
                        ShowError(a.message);
                        return false;
                    }
                    else {
                        ShowSuccess(a.message);
                        $("#refresh_jqTable2").click();
                    }
                }, error: function (a) { alert(a) }
            });
        }
        else {
            var Form = document.getElementById(formid);
            Form.action = "";
            return false;
        }
    }
    function validateForm(formid) {
        return $("#" + formid).validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                txt_remarks: {
                    required: true
                }
            },
            messages: {
                txt_remarks: {
                    required: "Please Enter Remarks"
                }
            },
            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error'); //.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element.parent());
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });
    }
</script>
<form class="form-horizontal" id="frm_pendingAcceptance" name="frm_pendingAcceptance" method="post" action="" novalidate="novalidate">
    <div class="widget-box col-sm-12">
        <div class="widget-body">
            <div class="widget-main">
                <div class="form-group">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="gv_AssetList">
                                <table id="jqTable2"></table>
                                <div id="jqTablePager2">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="viewReimbursementRequest" class="form-horizontal hide">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_allocatedto">Allocate To:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_allocatedto" type="text" class="form-control k-textbox" data-role="text" name="txt_allocatedto" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_department">Department:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_department" type="text" class="form-control k-textbox" data-role="text" name="txt_department" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_item">Item:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_item" type="text" class="form-control k-textbox" data-role="text" name="txt_item" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_itemtype">Item Type:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_itemtype" type="text" class="form-control k-textbox" data-role="text" name="txt_itemtype" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_brand">Brand:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_brand" type="text" class="form-control k-textbox" data-role="text" name="txt_brand" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_model">Model:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_model" type="text" class="form-control k-textbox" data-role="text" name="txt_model" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_size">Size:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_size" type="text" class="form-control k-textbox" data-role="text" name="txt_size" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_specification">Specification:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_specification" type="text" class="form-control k-textbox" data-role="text" name="txt_specification" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_serilano">Serial No:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_serilano" type="text" class="form-control k-textbox" data-role="text" name="txt_serilano" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_receipt">Receipt:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_receipt" type="text" class="form-control k-textbox" data-role="text" name="txt_receipt" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_hostname">Host Name:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_hostname" type="text" class="form-control k-textbox" data-role="text" name="txt_hostname" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_allocationdate">Allocation Date:</label>
                    <div class="controls col-sm-9">

                        <input id="txt_allocationdate" type="text" class="form-control k-textbox" data-role="text" name="txt_allocationdate" readonly="readonly" data-parsley-errors-container="#errId4"><span id="errId4" class="error"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_allocationRemarks">Allocation Remarks:</label>
                    <div class="controls col-sm-9">
                        <textarea id="txt_allocationRemarks" rows="3" class="form-control limited" readonly="readonly" data-role="textarea" name="txt_allocationRemarks" maxlength="100" data-parsley-errors-container="#errId8"></textarea><span id="errId8" class="error"></span>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_remarks">Remarks:</label>
                    <div class="controls col-sm-9">
                        <textarea id="txt_remarks" rows="3" class="form-control limited" data-role="textarea" name="txt_allocationRemarks" maxlength="100" data-parsley-errors-container="#errId8"></textarea><span id="errId8" class="error"></span>
                    </div>
                </div>
            </div>
        </div>
</form>
