@{
    Layout = Layout;
}
<script type="text/javascript" src="~/Scripts/jQuery.GridList.js"></script>
<script>
    $(document).ready(function () {
        LoadGridData();
    });

    function LoadGridData() {
        var objurl = '@Url.Content("~/Asset/GetVendorDetails")';
        var jqTable = '#jqTable1';
        var jqTablePager = '#jqTablePager1';
        var objcolNames = ['Action', 'Vendor No', 'Vendor Name', 'Contact Person', 'Contact Number'];
        var objcolModel = [
                            {
                                name: 'Action', index: 'Action', width: 65, formatter: function (cellvalue, options, rowObject) {
                                    return "<div title=\"Edit\" style=\"float:left;cursor:pointer;\" class=\"ui-pg-div ui-inline-edit\" onclick=\"EditVendorDetails('" + rowObject[1] + "'); \" id=\"jEditButton_1\"><span class=\"ace-icon fa fa-pencil blue bigger-120\"></span></div><div title=\"Delete\" style=\"float:left; cursor:pointer;\" class=\"ui-pg-div ui-inline-edit\" id=\"jEditButton_1\" onclick=\"DeleteVendorDetails('" + rowObject[1] + "'); \" title=\"Delete\">&nbsp;&nbsp;<span class=\"ace-icon fa fa-trash-o bigger-120 red\"></span></div>";
                                }
                            },
                            { name: 'VENDORNO', index: 'VENDORNO', width: 100 },
                            { name: 'VENDORNAME', index: 'VENDORNAME', width: 420 },
                            { name: 'CONTACTPERSON', index: 'CONTACTPERSON', width: 230 },
                            { name: 'CONTACTNUMBER', index: 'CONTACTNUMBER', width: 230 }
        ];
        var objcaption = "List of Vendor";
        var objjqGridonSelectRow = null;
        var objsortname = "VENDORNO";
        var objsortorder = "asc";
        jQuery(jqTable).jqGrid('clearGridData');
        jQuery(jqTable).jqGrid('setGridParam', { url: objurl });
        jQuery.GridList.Grid(jqTable, jqTablePager, objcolNames, objcolModel, objurl, objcaption, objsortname, objsortorder, objjqGridonSelectRow);
        jQuery(jqTable).trigger('reloadGrid');
    }

    function EditVendorDetails(Vendorno) {
        $.ajax({
            url: "../Asset/EditVendorDetails?Vendorno=" + Vendorno,
            type: 'post',
            async: false,
            contenttype: 'application/json; charset=utf-8',
            datatype: 'json',
            success: function (a) {
                if (a.reqStatus == "-1") {
                    showerror(a.reqMessage);
                    return false;
                }
                else {
                    $("#hdn_vendorcode").val(a.VENDORNO);
                    $("#txt_vendorname").val(a.VENDORNAME);
                    $("#txt_contactperson").val(a.CONTACTPERSON);
                    $("#txt_contactnumber").val(a.CONTACTNUMBER);
                }
            },
            beforeSend: function () {
                $('#ajaxStatus').show();
            },
            complete: function () {
                $('#ajaxStatus').hide();
            },
            error: function (a) {
                alert(a);
                $('#ajaxStatus').hide();
            }

        });
    }

    function DeleteVendorDetails(Vendorno) {
        $.ajax({
            url: "../Asset/DeleteVendorDetails?Vendorno=" + Vendorno,
            type: 'POST',
            async: false,
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            success: function (a) {
                if (a.MessageCode == "-1") {
                    ShowError(a.message);
                    return false;
                }
                else {
                    ShowSuccess(a.message);
                    $("#refresh_jqTable1").click();
                }
            }, error: function (a) { alert(a) }
        });
    }

    function SubmitRequest() {
        var formid = 'frm_VendorMaster';
        var obj = validateForm(formid);
        if (obj.form()) {
            var Form = document.getElementById(formid);
            Form.action = '@Url.Action("SubmitVendorDetails", "Asset")';
            $("#" + formid).ajaxForm({
                iframe: true,
                dataType: "json",
                success: function (result) {
                    if (result.MessageCode == "-1") {
                        ShowError(result.message);
                        return false;
                    }
                    else {
                        ShowSuccess(result.message);
                        $("#" + formid).action = "";
                        $("#" + formid).trigger("reset");
                        $("#refresh_jqTable1").click();
                    }
                },
                error: function (xhr, textStatus, errorThrown) {
                    alert("error");
                    ShowError("Error Occured Submiting Vendor Details Request. Try Restarting your current session.");
                }
            });
        }
        else {
            var Form = document.getElementById(formid);
            Form.action = "";
            return false;
        }
    }

    function validateForm(formid) {
        return $("#" + formid).validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                txt_vendorname: {
                    required: true
                },
                txt_contactperson: {
                    required: true
                },
                txt_contactnumber: {
                    required: true
                }
            },
            messages: {
                txt_vendorname: {
                    required: "Please Enter Vendor Name"
                },
                txt_contactperson: {
                    required: "Please Enter Contact Person Name"
                },
                txt_contactnumber: {
                    required: "Please Enter Contact Number"
                }
            },

            highlight: function (e) {
                $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
            },

            success: function (e) {
                $(e).closest('.form-group').removeClass('has-error'); //.addClass('has-info');
                $(e).remove();
            },

            errorPlacement: function (error, element) {
                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2')) {
                    error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element.parent());
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });
    }
</script>
@using (Html.BeginForm("VendorMaster", "Asset", FormMethod.Post, new { name = "frm_VendorMaster", id = "frm_VendorMaster", novalidate = "novalidate", @class = "form-horizontal" }))
{
    <input type="hidden" id="hdn_vendorcode" name="hdn_vendorcode" value="0" />
    <div class="widget-box col-sm-12">
        <div class="widget-header widget-header-flat">
            <h4 class="widget-title smaller">
                <i class="ace-icon fa fa-list-alt smaller-120"></i>Vendor Master
            </h4>
        </div>
        <div class="widget-body">
            <div class="widget-main">

                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_vendorname">Vendor Name:</label>
                    <div class="controls col-sm-3">
                        <input id="txt_vendorname" type="text" class="form-control k-textbox" data-role="text" name="txt_vendorname" data-parsley-errors-container="#errId3"><span id="errId3" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_contactperson">Contact Person:</label>
                    <div class="controls col-sm-3">
                        <input id="txt_contactperson" type="text" class="form-control k-textbox" data-role="text" name="txt_contactperson" data-parsley-errors-container="#errId3"><span id="errId3" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label control-label-left col-sm-3" for="txt_contactnumber">Contact Number:</label>
                    <div class="controls col-sm-3">
                        <input id="txt_contactnumber" type="text" class="form-control k-textbox" data-role="text" name="txt_contactnumber" data-parsley-errors-container="#errId3"><span id="errId3" class="error"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-xs-12 col-sm-12" style="text-align: center;">
                        <div class="clearfix">
                            <button name="btn_save" class="btn btn-success btn-next" id="btn_save" aria-describedby="btn_save-error" onclick="return SubmitRequest();" type="submit" data-last="Finish">Submit <i class="ace-icon fa fa-plus icon-on-right"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="widget-box col-sm-12">
        <div class="widget-body">
            <div class="widget-main">
                <div class="form-group">
                    <div class="widget-body">
                        <div class="widget-main">
                            <div id="gv_MaterialList">
                                <table id="jqTable1"></table>
                                <div id="jqTablePager1">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
